<div class="books-wrapper">
  <%= render "layouts/header" %>

  <% @books.in_groups_of(6, false).each do |books| %>
  <div class="row">
    <% books.each do |book| %>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="<%= book_path(book) %>" class="thumbnail">
          <img src="<%= book.cover %>" style="width: 180px; height: 200px">
        </a>
        <div class="caption">
          <h5><%= book.name %></h5>
          <p><%= book.category %></p>
          <p>
            <span class="label label-default">总量:</span>
            <span class="label label-default">库存:</span>
            <span class="label label-default">排队:</span>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <% end %>

  <%= paginate @books, window: 0 %>

</div>
