<div class="book-wrapper">
  <%= render "layouts/header" %>

  <% if @record %>
    <% if @is_new_record %>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <% if @record.status == "pending" %>
      <strong>预约成功!</strong>
      <% else %>
      <strong>借阅成功! 到期时间: <%= @record.should_return_date %>. 请联系管理员领书.</strong>
      <% end %>
    </div>
    <% else %>
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <% if @record.status == "pending" %>
      <strong>你已预约此书,请耐心等待!</strong>
      <% else %>
      <strong>你已借阅此书，尚未归还! 到期时间: <%= @record.should_return_date %>. 如有疑问，请联系管理员.</strong>
      <% end %>
    </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <img src="<%= @book.cover %>">
    </div>
    <div class="col-md-6">
      <h3 class="text-left"><span class="label label-info">书名:</span> <%= @book.name %></h3>
      <h3 class="text-left"><span class="label label-info">作者:</span> <%= @book.author %></h3>
      <h4 class="text-left"><span class="label label-info">出版社:</span> <%= @book.press %></h4>
      <h4 class="text-left"><span class="label label-info">出版日:</span> <%= @book.publish_date %></h4>
      <h4 class="text-left"><span class="label label-info">语言:</span> <%= @book.language %></h4>
      <h4 class="text-left"><span class="label label-info">标签:</span> <%= @book.tags %></h4>
      <h4 class="text-left"><span class="label label-info">简介:</span></h4>
      <p class="text-justify"><%= @book.intro %></p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-6">
      <h3>
        <span class="label label-default">总量: <%= @book.total %></span>
        <span class="label label-default">库存: <%= @book.available %></span>
      </h3>
    </div>
    <div class="col-md-6 text-right">
      <%= link_to "预约", order_book_path(@book), method: :post, class: "btn btn-lg btn-primary" %>
      <%= link_to "借阅", borrow_book_path(@book), method: :post, class: "btn btn-lg btn-success #{@book.available <= 0 ? 'disabled' : ''}" %>
    </div>
  </div>
</div>
