<div class="masthead clearfix">
  <div class="inner">
    <nav>
      <ul class="nav nav-pills navbar-nav navbar-left">
        <li class="<%= active_class(guide_books_path) %>"><a href="<%= guide_books_path %>">检索</a></li>
        <li class="<%= active_class(books_path) %>"><a href="<%= books_path %>">图书</a></li>
        <li><a href="/books/recommend">推荐</a></li>
        <li><a href="<%= contact_path %>">关于</a></li>
      </ul>
      <ul class="nav nav-pills navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-2x"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user">个人信息</a></li>
            <li><a href="<%= history_user_path %>">借阅记录</a></li>
            <li class="divider"></li>
            <li><%= link_to "退出", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
